.login_div1, .login_div2{
background-color: rgba(29, 243, 243, 0.863);
padding: 17px;
float: none;
border-radius: 7px;
}
#player1_name , #player2_name { display: inline-block; margin-left: 20px; } #word { width: 60%; } #word_display { letter-spacing: 5px; }

body{
background-color: rgb(240, 237, 71);

}